.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.react-calendar__navigation__prev-button {
  position: absolute;
  top: -90%;
  left: 0;
  background-color: transparent;
  font-size: 3rem; /* text-2xl */
}

.react-calendar__navigation__next-button {
  height: 38px;
  position: absolute;
  top: -90%;
  right: 0;
  background-color: transparent;
  font-size: 3rem; /* text-2xl */
}

abbr {
  text-decoration: none;
  color: #767676;
}

.react-calendar__tile > abbr {
  color: black;
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
}

.react-calendar__month-view__days__day {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
.react-calendar__month-view__days__day:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.react-calendar__tile--active {
  background-color: black;
}
.react-calendar__tile--active:hover {
  background-color: black;
}
.react-calendar__tile--active > abbr {
  color: white;
  background-color: black;
}

.react-calendar__navigation__label__labelText {
  font-size: 20px;
  font-weight: 600;
}

.react-calendar__navigation {
  text-align: center;
  margin-bottom: 16px;
}
